@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Readex+Pro:wght@200&family=Red+Hat+Mono:wght@300;400;600&display=swap');


::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
}

.header__container {
    position: fixed;
    width: 100vw;
    align-items: center;
    background: #00001D;
    height: 75px;
}

.header__wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 75px;
}

.logo {
    display: inline-block;
    align-self: center;
}

.logo__lucas {
    display: inline-block;
    align-self: center;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 600;
    font-size: 36px;
    margin-right: 0.4vw;
}

.logo__mol {
    display: inline;
    align-self: center;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
    font-size: 36px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav ul li {
    display: inline;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    padding: 5px;
}

.header__nav ul li:last-child {
    margin-right: 15px;
}

.header__nav-logos {
    display: inline;
    padding: 5px;
    height: 50px;
}

.header__bottom-line {
    position:absolute;
    bottom: 0;
    height: 1px;
    width: 100vw;
    border-bottom: 1px solid rgba(166, 158, 255, 0.25);
}

.main {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    display: flex;
    height: 100vh;
}

.section__home {
    background: linear-gradient(200.3deg, #00001D 60%, rgba(0, 0, 29, 0) 98%), #000045;
    height: 100vh;
    min-width: 100%;
}

.geometric__shapes {
    max-width: 100vw;
    max-height: 100vh;
}

.section__home .line-one {
    position:absolute;
    right: 0;
    top: 150px;
    height: 1px;
    width: 30%;
    border-bottom: 1px solid #0B1080;
    animation: lineAnimation 1.2s;
}

.section__home .line-two {
    position:absolute;
    left: 0;
    top: 650px;
    height: 1px;
    width: 30%;
    border-bottom: 1px solid #0B1080;
    animation: lineAnimation 1.2s
}

@keyframes lineAnimation {
    0%{width: 0;}
    100%{width: 30%;}
}

.section__home .ellipse-one {
    position:absolute;
    border: 1px solid #0B1080;
    border-radius: 50%;
    left: 500px;
    top: 150px;
    height: 5px;
    width: 5px;
}

.section__home .ellipse-two {
    position:absolute;
    border: 1px solid #0B1080;
    border-radius: 50%;
    right: 500px;
    top: 650px;
    height: 5px;
    width: 5px;
}

.section__home .binary-code-text {
    position: absolute;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 200;
    text-align: right;
    font-size: 20px;
    right: 20px;
    top: 650px;
    opacity: 0.15;
}

.main__wrapper {
    position: relative;
    display: flex;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

.main__container-text {
    width: 35%;
    padding: 40px;
    margin-top: 21%;

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}

.main__container-text strong {
    font-weight: 600;
}

.main__container-text span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50%{opacity: 0;}
}

.section__skills {
    background: #00001D;
    height: 100vh;
    min-width: 100%;
}

.section__skills .line-one {
    position:absolute;
    left: 100vw;
    top: 150px;
    height: 1px;
    width: 30%;
    border-bottom: 1px solid #0B1080;
}

.section__skills .trapeze-box {
    position: absolute;
    top: 0;
    left: 140vw;
    right: 260vw
}

.section__skills .trapeze {
    height: 99vh;
}

.section__skills .binary-code-text {
    position: absolute;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 20px;
    left: 101vw;
    top: 230px;
    opacity: 0.15;
}

.section__skills .main__container-text {
    display: block;
    width: 50%;
    margin-top: 10%;
}

.section__skills .skills-title {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.section__skills p {
    margin-top: 22%;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1em;
}

.section__skills p:nth-child(3){
    margin-top: 5%;
}

.skills__box {
    display: flex;
}

.section__skills ul {
    margin-top: 7%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.section__skills ul li {
    display:inline-grid;
    padding:10px;
}

.section__skills li img:hover {
    transform: scale(1.10);
}

#icon-java, #icon-clojure, #icon-db {
    transform: scale(0.8);
    border-radius: 5%;
}

#icon-java:hover, #icon-clojure:hover, #icon-db:hover {
    transform: scale(0.9);
}

.profile-demo__box {
    width: 50%;
}

.profile-photo {
    max-block-size: 280px;
    border-radius: 60%;
    margin-top: 15%;
    margin-left: 300px;
    padding: 3px;
    background: #00001D;
    box-shadow: 10px 5px #000011;
}

.demo__box {
    margin: 15% auto;
    padding: 20px;
    border: 4px double #000011;
    border-left: 10px solid #7f7ffc;
    border-radius: 10px;
    background:#00003a;
    height: 270px;
    width: 500px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 40px;
    font-size: 27px;
}

.demo__box h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #7f7ffc;
}

.demo__box p {
    font-family: monospace;
    text-align: justify;
    word-spacing:-5px;
    font-weight: 400;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
}

.section__contact {
    background: #000045;
    height: 100vh;
    min-width: 100%;
}

.section__contact .main__container-text {
    margin-top: 15%;
}
.section__home {
    background: linear-gradient(200.3deg, #00001D 60%, rgba(0, 0, 29, 0) 98%), #000045;
    height: 100vh;
    min-width: 100%;
}
.section__contact .main__container-text h2 {
    font-size: 70px;
    line-height: 72px;

    background-image: -webkit-linear-gradient(left,#5e99e0 0%,#d8e0f0 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.section__contact .main__container-text p {
    margin-top: 50px;
    font-size: 30px;
}

.section__contact .main__container-text p:last-child {
    margin-top: 12px;
}

.form__container {
    width: 50%;
}

.form__container fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top: 32%;
    margin-left: 150px;
    width: 100%;
}

.form__container fieldset label {
    width: 100%;
    margin: 8px auto;

    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form__container fieldset input {
    background: linear-gradient(85deg, #000029 55%, #000031 90%)#00003a;
    border-radius: 6px;
    border: 2px solid #000011;
    margin-bottom: 20px;
    padding: 0 12px;
    width: 100%;
    height: 40px;

    font-family: monospace;
    font-size: 18px;
    font-weight: 400;
}

.form__container fieldset textarea {
    background: linear-gradient(65deg, #000029 55%, #000031 90%)#00003a;
    border-radius: 6px;
    border: 2px solid #000011;
    padding: 5px 12px;
    width: 100%;
    height: 140px;
    margin-top: 25px;
    
    font-size: 18px;
    font-weight: 400;
}

.form__container fieldset button {
    background: linear-gradient(45deg,#00001D 55%, #000028 90%);
    border-radius: 6px;
    border: 2px solid #000011;
    margin-top: 25px;
    width: 40%;
    height: 70px;
    align-self: flex-end;


    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form__container fieldset button:hover {
    animation: buttonJump 0.8s;
}

@keyframes buttonJump {
    25%{
        margin-top: 20px;
    }
    50%{
        margin-top: 25px;
    }
    75%{
        margin-top:20px;
    }
    100%{
        margin-top: 25px;
    }
}

.section__mobile {
    display: none;
}

@media only screen and (max-width: 1400px) {

    body {
        max-height: 100vh;
    }
    
    .header__wrapper {
        width: 95vw;
        margin: 0 auto;
    }

    .header__content {
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        margin-left: 5vw;
    }

    .header__nav ul li {
        display: none;
    }

    .header__nav a:last-child {
        margin-right: 5vw;
    }

    .main {
        display: none;
    }

    .section__mobile {
        display: block;
        position: fixed;
        width: 100vw;
        top: 75px;
        left: 0;
        background: linear-gradient(200.3deg, #00001D 60%, rgba(0, 0, 29, 0) 98%), #000045;
    }
    
    .main__wrapper {
        width: 95vw;
        margin: 0 auto;
        text-align: center;

    }

    .main__container-text {
        width: 90vw;
        padding: 0;
        text-align: center;
        margin: 40vh auto;
    }

    .main__container-text h2 {
        font-size: 37px;
        line-height: 37px;
        margin-bottom: 1em;
    
        background-image: -webkit-linear-gradient(left,#5e99e0 0%,#d8e0f0 80%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .main__container-text p {
        justify-content: flex-start;
        font-size: 20px;
        line-height: 22px;
    }
  }